.cart-container {
  max-width: 75rem;
  margin: 2.5rem auto;
  padding: 1.2rem;
}

.cart-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}

.cart-title {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 0.6rem;
  color: #21a5b7;
}

.cart-icon {
  font-size: 2rem;
  color: #21a5b7;
}

.cart-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cart-items-section {
  flex: 3;
}

.cart-summary {
  flex: 1;
  max-width: 18.7rem;
  border: 1px solid #cef6fd;
  padding: 1.2rem;
  margin: 0 1rem 0 1rem;
  background-color: #e1fbff;
  align-self: flex-start;
  color: grey;
}

.cart-header {
  display: grid;
  grid-template-columns: 1.8fr 1fr 1fr 1fr;
  padding: 0.6rem;
  background-color: #e1fbff;
  font-weight: bold;
  margin-bottom: 1.2rem;
  color: #21a5b7;
}

.header-item {
  text-align: center;
}

.cart-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr auto;
  align-items: center;
  padding: 0.6rem;
  border-bottom: 1px solid #e0e0e0;
  color: grey;
}

.cart-product {
  display: flex;
  align-items: center;
}

.cart-product-image {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  margin-right: 1.2rem;
  border-radius: 0.5rem;
}

.cart-price,
.cart-quantity,
.cart-total {
  text-align: center;
}

.cart-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cart-empty-items {
  color: #21a5b7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-empty-items img {
  height: 35vh;
}

.cart-empty-items h2 {
  margin-top: -0.6rem;
}

.cart-quantity button {
  background-color: #e1fbff;
  color: grey;
  border: none;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 0.6rem;
}

.remove-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #ff4d4d;
}

.summary-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1rem;
  color: #21a5b7;
}

.summary-details {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1rem;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 0 0;
  gap: 0.3rem;
  font-size: 0.9rem;
}

.summary-total {
  padding-top: 1rem;
}

.checkout-button {
  margin-top: 2rem;
}

.cart-footer {
  margin-top: 5rem;
}
