.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../../assets/login.jpg") no-repeat center;
  background-size: contain;
  background-position: center left;
  background-color: rgb(253, 157, 33);
}

.login-wrapper {
  width: 18.7rem;
  height: 70vh;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 0.6rem;
  padding: 1.8rem 2.5rem;
}

.login-wrapper h2 {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 2rem;
}

.login-wrapper .input-box {
  position: relative;
  width: 100%;
  height: 2.5rem;
  padding: 0 0 1rem;
  margin: 0 0 1rem;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 2.5rem;
  font-size: 1rem;
  color: #fff;
}

.input-box input::placeholder {
  color: #fff;
  padding-left: 1rem;
}

.login-wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-top: 2rem;
}

.remember-forgot label input {
  accent-color: blue;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.login-wrapper button {
  width: 100%;
  height: 1.8rem;
  margin-top: 2rem;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 2.5rem;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1rem;
  color: #333;
  font-weight: 700;
}

.login-wrapper button:hover {
  background-color: rgb(250, 231, 170);
}

.login-wrapper .register-link {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 2rem;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}
