.primary-button {
  background: #21a5b7;
  border: none;
  padding: 0.7rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-top: .3rem;
}

.primary-button:hover {
  background-color: #055c68;
}
