.newsletter-container {
  height: 60vh;
  background-color: #fcf5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newsletter-title {
  font-size: 4.3rem;
  margin-bottom: 1.2rem;
  color: #21a5b7;
}

.newsletter-desc {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1.2rem;
  text-align: center;
  color: #21a5b7;
}

.input-container {
  width: 50%;
  height: 2.5rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
}

.newsletter-input {
  font-size: 1.1rem;
  border: 1px solid lightgray;
  flex: 8;
  padding-left: 1.2rem;
  transition: border-color 0.3s ease;
}

.newsletter-input:focus {
  border-color: #21a5b7 !important;
  color: #21a5b7 !important;
  outline: none;
}

.newsletter-button {
  flex: 1;
  border: none;
  background-color: #21a5b7;
  color: white;
  cursor: pointer;
}

.newsletter-button:hover {
  background-color: #055c68;
}

.newsletter-button .icon {
  font-size: 1.5rem;
}
