.footer-container {
  display: flex;
  color: #21a5b7;
  justify-content: space-evenly;
}

.footer-left {
  flex: 1;
  padding-left: 2rem;
}

.footer-center {
  flex: 1;
}

.footer-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-info {
  padding-top: 0.6rem;
  display: flex;
  gap: 1rem;
}

.payment {
  height: 40%;
  width: 70%;
  padding-top: 1rem;
}

.social-container {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
  font-size: larger;
  color: white !important;
}

.footer-left-desc {
  padding-top: 1rem;
}

.social-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
