.announcement-container {
  display: flex;
  justify-content: space-around;
  background-color: #21a5b7;
  color: white;
  text-align: center;
  font-size: 0.6rem;
  position: fixed;
  height: 7vh;
  width: 100%;
  z-index: 1000;
}

.announcement-container h1 {
  margin: 0.3rem 0;
  animation: colorChange 5s infinite;
}

@keyframes colorChange {
  25% {
    color: #023f47;
  }
  50% {
    color: white;
  }
  75% {
    color: #023f47;
  }
  100% {
    color: white;
  }
}
